* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    background-color: #13162b;
    display: grid;
    place-items: center;
  }

#countLbl {
    display: block;
    text-align: center;
    font-size: 45px;
    color: white;
}





.button-container {
    position: relative;
    width: 80vmin;
    background-color: #14172c;
    padding: 100px 40px;
    border-radius: 9px;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.2);
}

.button-container:after {
    content: "";
    position: absolute;
    width: 85%;
    left: 7.5%;
    height: 120%;
    bottom: -10%;
    background-color: #7bff8d;
    z-index: -1;
    border-radius: 8px;
}



.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }
  .btns button {
    flex-grow: 1;
    padding: 15px 0;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }

  .btns button:last-child {
    margin-right: 0;
  }


  
  #increaseButton,
  #decreaseButton {
    background-color: #7bff8d;
    color: #ffffff;
  }

  
  #resetButton {
    background-color: transparent;
    border: 4px solid #7bff8d;
    color: #7bff8d;
  }